*{
    font-family: 'Roboto','sans-serif';
    box-sizing: border-box;
    
}

.content{
    padding: 1rem;
    
}
.content h1{
    margin: 0;
}
.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
  
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 1rem;
    color: white;
    
}
.pokemon .name{
    color: #f18484; 
    margin: .25rem;
    font-size: 1.8rem;
}
.pokemon .number{
    color: black;
    opacity: .3;
    text-align: right;
}
.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .types{
    padding: 0;
    margin: 0;
    list-style: none;
}
.pokemon .detail .types .type{
    background-color: #61e1ca;
    color: rgb(204, 57, 57);
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
    font-size: 1rem;
}

.pokemons .detail img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}